{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}


<header class="main-header post-head">
    <div class="container">
        <div class="row">
            <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
                {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
                {{#if @blog.navigation}}
                    <a type="button" class="menu-button" href="#">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                {{/if}}
            </nav>
        </div>
    </div>
</header>

<main class="content error-page" role="main">
        <header class="post-header no-cover">
            <h1 class="post-title">404. Sorry Page can not be found</h1>
        </header>
        <div class="container">
            <div class="row">
                <article class="post page">
                    <section class="post-content">
                        <p>Sorry the page you are looking for can not be found</p>
                    </section>
                </article>
            </div>
        </div>
</main>

